body{
    background-color: rgb(97, 166, 127);
}

.container{
    background-color: aqua;
    text-align: center;
    
}
h1{
    color: rgb(143, 35, 35);
    font-style: italic;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
}

.player{
    text-align: center;
    display: inline-block;
    margin: 50px;
}

#img{
    height: 150px;
    width: auto;
}





